@import "font";
@import "common";
@import "feature";

html {
  font-size: 16px; color: black; font-family: "Just Me Again Down Here", sans-serif;
}

body {
  background: red;
}

path {
  color: white;
  fill: white;
}
svg {
  color: white;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

._anime-leftRight {
  animation: leftRight 1s infinite;
}

@keyframes leftRight {
  0% {
    transform: rotate(2deg);
    outline-offset: 0;
  }
  50% {
    transform: rotate(-2deg);
    outline-offset: 2px;
  }
  100%  {
    transform: rotate(2deg);
    outline-offset: 0;
  }
}